<header class="bg-white shadow-sm border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            
            <div class="flex items-center">
                <span class="text-xl font-bold text-gray-900 tracking-tight">
                    Trainee Management
                </span>
            </div>

            <div>
                @if (authService.user$ | async; as user) {
                <button 
                    (click)="onLogout()"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition-colors duration-150"
                >
                    Logout
                </button>
                } @else {
                <a 
                    routerLink="/auth"
                    class="cursor-pointer items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duration-150"
                >
                    Login
                </a>
                }
            </div>

        </div>
    </div>
</header>